<h1>What2Wear Homepage</h1>
{{#if user}}
<span class="weather">It's {{temperature}}°F Today!</span>
{{#if outfits}}
<span class="outfits">In this weather, you've worn:</span>
    <ul class='parent'> 
            {{#each outfits}}
                <li class='child'> Top: {{this.top}} 
                    <br>
                    Bottom: {{this.bottom}} 
                    <br>
                    Jacket: {{this.jacket}} 
                    <br>
                    Scarf or Gloves: {{this.scarf_gloves}} 
                    <br>
                    Temperature: {{this.temp}}
                    <br>
                    ID: {{this._id}}</li>
            {{/each}}
    </ul>

{{/if}}
<span class="success">Currently logged in as: {{user}}</span>
<a href="manage">Manage Outfits</a> or  <a href="zipcode">Change Location</a> or <a href="logout">Log Out</a> or <a href="view">View Outfits</a>. 
{{else}}
<span class="error">Not logged in</span>. <a href="signup">Sign Up</a> or <a href="login">login</a>.


{{/if}}



