<h1>Outfits</h1>
{{#if outfits}}
<ul class='parent'> 
            {{#each outfits}}
                <li class='child' class='child' data-aos="ease-in-out-quart";
    data-aos-offset="200";
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"> > Top: {{this.top}} 
                    <br>
                    Bottom: {{this.bottom}} 
                    <br>
                    Jacket: {{this.jacket}} 
                    <br>
                    Scarf or Gloves: {{this.scarf_gloves}} 
                    <br>
                    Temperature: {{this.temp}}
                    <br>
                    ID: {{this._id}}</li>
            {{/each}}
    </ul>

{{/if}}