<h1>Outfits</h1>
{{#if outfits}}
<ul>
{{#each outfits}}
	<li> ID: {{_id}} User: {{this.user}} Top: {{this.top}} Bottom: {{this.bottom}} Jacket: {{this.jacket}} Scarf or Gloves: {{this.scarf_gloves}} Temperature: {{this.temp}}</li>
{{/each}}
</ul>
{{/if}}