<h1>Outfits</h1>
{{#if outfits}}
<ul>
{{#each outfits}}
	<li> ID: {{_id}} Top: {{top}} Bottom: {{bottom}} Jacket: {{jacket}} Scarf or Gloves: {{scarf_gloves}} Temperature: {{temp}}</li>
{{/each}}
</ul>
{{/if}}