<h1>Outfits</h1>
{{#if outfits}}
<ul>
{{#each outfits}}
	<li>ID: {{_id}}Top: {{_top}}Bottom: {{this.bottom}}Jacket: {{this.jacket}}Scarf or Gloves: {{this.scarf_gloves}}temperature: {{this.temp}}</li>
{{/each}}
</ul>
{{/if}}